* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#contenitore{
    height: 100vh;
    background: pink;
    color: white;
    position: relative;
}

#album {
    position: absolute;
    width: 50vw;
    height: 50vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.foto{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}